* {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-top: 4rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.visu960 {
    margin:auto;display: block;
    width: 960px;
}

.visu-details {
    margin: 1em 0;
    padding: 0 1em;
}

#vis1 {
    margin-top: 1rem;
}

.row{
    margin: auto;
}

.node{
    cursor: pointer;
    fill: #ccc;
    stroke: #ffffff;
    stroke-width: 2px;
}

.link{
    fill: none;
    stroke: #539552;
    stroke-width: 2px;

}

.node.fixed {
    fill: #f00;
  }

  .axis text {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }

aside.sidebar{
    background: #eee;
    padding: 1rem;
}

aside.sidebar div {
    margin-top: 1rem
}

aside.sidebar div div {
    margin-top: 0;
}

aside.sidebar header{
    font-size: 1.5rem;
}