* {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-top: 4rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.custom-tabs {
    height: 960px;
}
.node{
fill: #ccc;
stroke: #ffffff;
stroke-width: 2px;
}

.link{
    stroke: #539552;
    stroke-width: 2px;

}

.node.fixed {
    fill: #f00;
  }